.root {
  position: relative;
  display: block;
}

.tooltip {
  display: block;
  visibility: hidden; // XXX use visibility: hidden instead of display: none

  .root:hover & {
    visibility: visible;
  }

  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
}
