.root {
  display: block;
  width: 100%;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeViewer {
  flex: 0;
}

.progressBar {
  margin-top: 10px;
}
