$animation-duration: 300ms;

.root {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;

  overflow: hidden;

  :global(.iScrollVerticalScrollbar) {
    right: 0 !important;
    background-color: #30647C;
  }

  :global(.iScrollIndicator) {
    border-radius: 0 !important;
    border: none !important;
    background-color: #0B2E44 !important;
  }

  &.withoutVerticalScrollbar {
    .tracks {
      padding-right: 0;
    }

    :global(.iScrollVerticalScrollbar) {
      width: 0 !important;
    }
  }

  &.isReady {
    :global(.iScrollVerticalScrollbar) {
      transition: width $animation-duration ease;
    }

    .tracks {
      transition: padding-right $animation-duration ease;
    }
  }
}

.scrollWrapper {
  position: relative;
  display: block;
  width: 100%;
}

.tracks {
  display: block;
  width: 100%;

  box-sizing: border-box;
  padding-right: 15px;
}

.track {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  user-select: none;
  cursor: pointer;

  box-sizing: border-box;
  padding: 1px 8px;

  border-radius: 5px;

  &:hover {
    background-color: #093654;
  }

  &.isSelected {
    &,
    &:hover {
      background-color: #001c37;
    }
  }

  &::before {
    content: attr(data-index);

    display: block;

    color: #7ea4ae;
    font-size: 15px;
    text-align: right;
  }

  &::after {
    content: attr(data-duration);

    display: block;
    min-width: 36px;
    flex: 1;

    margin-left: auto;

    color: #63c7f9;
    font-size: 15px;
    text-align: right;
  }
}

.trackTitle {
  display: block;
  width: 100%;
  color: #cccccc;
  font-size: 17px;
  text-transform: capitalize;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  box-sizing: border-box;
  padding: 0 8px;
}
