@import '../../colors';

.root {
  display: flex;
  justify-content: space-between;

  width: 100%;
  box-sizing: border-box;

  padding: 0 15px;
}

.item {
  display: block;
  flex-grow: 1;

  text-align: center;

  box-sizing: border-box;
  padding: 6px 4px;

  font-size: 14px;
  text-transform: uppercase;

  background-color: #cccccc;
  color: #333333;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  cursor: pointer;
  user-select: none;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & + & {
    margin-left: 1px;
  }

  &:hover {
    background-color: $blue;
    color: #ffffff;
  }

  &.isSelected {
    background-color: $blue;
    color: #ffffff;

    cursor: default;
    pointer-events: none;
  }
}


