@import '../buttons/styles/common';

$btn-size: 24px;

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  @include base-btn;

  display: block;
  width: $btn-size;
  height: $btn-size;

  background-color: $default-bg-color;
  &:hover {
    @include hover-bg-color($default-bg-color);
  }

  border-radius: $small-btn-border-radius;

  box-sizing: border-box;
  padding: 4px;

  &::before {
    content: '';

    display: block;
    width: 100%;
    height: 100%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url('./assets/volume-up.svg');
  }

  &.isMuted {
    &::before {
      background-image: url('./assets/volume-mute.svg');
    }
  }
}

.volumeLevelBar {
  position: relative;
  display: flex;
  align-items: center;

  height: $btn-size;

  margin-left: 6px;
}

.volumeLevelDots {
  display: flex;
  justify-content: space-between;
}

.volumeLevelDot {
  $size: 8px;

  display: block;
  width: $size;
  height: $size;

  border-radius: 50%;

  background-color: #d2dce3;

  & + & {
    margin-left: 1px;
  }
}

.volumeLevelMask {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  display: block;
  width: 50%;

  overflow: hidden;

  .volumeLevelDot {
    background-color: #4fa3d8;
    flex-shrink: 0;
  }
}
