@import '../../colors';

.root {
  display: block;
  width: 100%;
  height: 325px;

  border-radius: 8px;

  box-sizing: border-box;

  &.stateLoading,
  &.stateError {
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
  }

  &.stateReady {
    background-color: $blue;
  }
}
