.root {
  display: block;
}

.itemsCounter {
  display: block;
  width: 100%;
  text-align: right;

  user-select: none;
}

.itemsCounterTitle {
  color: #6e8a9a;
  font-size: 18px;
}

.itemsCounterValue {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin-left: 5px;
}

.checkoutLink {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &,
  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
  }

  cursor: pointer;
  user-select: none;

  background-color: #ef8c13;
  &:hover {
    background-color: #D67500;
  }

  font-size: 18px;
  color: #ffffff;
  font-weight: 400;

  border-radius: 8px;
  padding: 9px 12px;

  &::after {
    content: '';

    display: block;
    width: 18px;
    height: 18px;

    background-image: url('./assets/play.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    margin-left: 10px;
  }
}

.itemsCounter + .checkoutLink {
  margin-top: 20px;
}
