@import '../../colors';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.icon {
  $size: 40px;

  display: block;
  width: $size;
  height: $size;

  background-image: url('./assets/icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  display: block;

  color: #999999;
  font-size: 14px;
  font-weight: 700;

  margin-top: 5px;

  user-select: none;
}

.btn {
  display: block;

  background-color: #cccccc;

  color: #333333;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;

  margin-top: 10px;

  box-sizing: border-box;
  padding: 4px 6px;

  border-radius: 4px;

  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: $blue;
    color: #ffffff;
  }
}
