$space-between-items: 3px;

.root {
  display: flex;
  justify-content: center;

  width: 100%;

  box-sizing: border-box;
  padding: 0 $space-between-items;
}

.item {
  $unselected-bg-color: #006666;
  $selected-bg-color: #002e69;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $unselected-bg-color;

  font-size: 13px;
  color: #0cc0cc;
  text-align: center;

  border-radius: 3px;

  padding: 1px 4px;

  cursor: pointer;
  user-select: none;

  &.isSelected {
    background-color: $selected-bg-color;

    cursor: default;
    pointer-events: none;
  }

  & + & {
    margin-left: $space-between-items;
  }

  &:hover {
    background-color: lighten($unselected-bg-color, 5%);

    &.isSelected {
      background-color: $selected-bg-color;
    }
  }
}
