.root {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.msg {
  display: flex;
  flex-direction: column;
  align-items: center;

  user-select: none;
}

.icon {
  display: block;
  width: 60px;
  height: 60px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('./assets/alert.svg');
}

.title {
  display: block;

  font-size: 24px;
  font-weight: bold;
  color: #31373f;

  margin-top: 10px;
}

.btn {
  $bg-color: #1761b7;

  display: inline-block;

  background-color: $bg-color;

  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: capitalize;

  padding: 6px;
  margin-top: 6px;

  border-radius: 4px;

  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: lighten($bg-color, 20%);
  }
}
