$input-height: 24px;
$space-between-input-and-active-placeholder: 5px;

$close-btn-size: 16px;

$bottom-border-thickness: 1px;

$animation-duration: 0.3s;

$active-color: #1761b7;

$text-font-size: 14px;

$active-placeholder-text-size: 10px;
$placeholder-default-y: ($input-height - $text-font-size) / 2;
$placeholder-active-y: $input-height + $space-between-input-and-active-placeholder;

$root-extra-padding-top: $active-placeholder-text-size + $placeholder-active-y;

.root {
  position: relative;

  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;

  padding-top: 20px;

  // ======================
  // clear btn
  // ======================
  &.withEmptyValue {
    .clearBtn {
      display: none;
    }
  }

  &.withNotEmptyValue {
    .clearBtn {
      display: block;
    }
  }

  // ======================
  // faux placeholder
  // ======================
  @mixin activePlaceholder {
    bottom: $placeholder-active-y;
    font-size: $active-placeholder-text-size;
    line-height: $active-placeholder-text-size;
    color: $active-color;
  }

  &.withEmptyValue {
    &.isActive {
      .placeholder {
        @include activePlaceholder;
      }
    }
  }

  &.withNotEmptyValue {
    .placeholder {
      @include activePlaceholder;
    }
  }

  // ======================
  // focus border
  // ======================
  &.isActive {
    .focusBorder {
      width: 100%;
    }
  }

  // ======================
  // submit btn
  // ======================
  &.withEmptyValue {
    .submitBtn {
      opacity: 0.3;
      cursor: default;
      pointer-events: none;
    }
  }
}

.inputWrapper {
  position: relative;
  display: block;
  width: 100%;
}

.input {
  position: relative;

  z-index: 0;

  display: block;
  width: 100%;
  height: $input-height;

  font-size: $text-font-size;
  line-height: $text-font-size;

  box-sizing: border-box;

  &,
  &:hover,
  &:focus {
    border-style: none;
    outline: none;
    background: transparent none;
    box-shadow: none;
    padding: 0;

    border-bottom: $bottom-border-thickness solid #e1e2e3;
  }
}

.placeholder {
  position: absolute;
  bottom: ($input-height - $text-font-size) / 2;
  right: 0;

  z-index: -1;

  display: block;
  width: 100%;

  color: #9a9a9a;
  font-size: $text-font-size;
  line-height: $text-font-size;

  transition: $animation-duration;

  user-select: none;
}

.clearBtn {
  position: absolute;
  right: 0;
  bottom: ($input-height - $close-btn-size) / 2;

  display: block;
  width: $close-btn-size;
  height: $close-btn-size;

  background-image: url('./assets/clear-icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  user-select: none;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.focusBorder {
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 0;
  height: $bottom-border-thickness;

  background-color: $active-color;

  transition: $animation-duration;
}
