.root {
  display: block;
  width: 100%;
}

.topSection {
  display: flex;
  justify-content: center;

  .item + .item {
    margin-left: 20px;
  }
}

.bottomSection {
  display: flex;
  justify-content: flex-start;

  margin-top: 20px;

  .item + .item {
    margin-left: 26px;
  }
}


