.root {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: 10px;
}

.section {
  position: relative;

  display: block;
  width: (100% / 3);
  height: 100%;

  flex-grow: 1;

  box-sizing: border-box;
}

.section:nth-child(1) {
  padding-right: 10px;
}

.section:nth-child(3) {
  padding-left: 10px;
}

.link + .link {
  margin-top: 5px;
}

.progressBar {
  margin-top: 10px;
}

.bottomControlPanel {
  position: absolute;
  left: 0;
  bottom: 0;

  z-index: 1;
}

.cartPlaylistWrapper {
  display: block;
  width: 100%;
  height: 200px;
}

.cartExtraUi {
  display: block;
  position: absolute;
  bottom: 16px;
  right: 0;
}
