<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <title>Title</title>
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>
