{% extends './_base.twig' %}

{% block body %}
  <div data-ml-player-with-playlist>
    <div data-playlists>
      <div
        data-playlist
        data-url="http://0.0.0.0:3001/api/playlists/featured"
        data-title="featured"
        data-is-active="true"
      ></div>

      <div
        data-playlist
        data-url="http://0.0.0.0:3001/api/playlists/editors"
        data-title="editor's choice"
      ></div>
    </div>
  </div>
{% endblock %}
