@import url('https://fonts.googleapis.com/css?family=Nunito');

html,
body {
  margin: 0;

  font-family: Nunito, sans-serif;
}

[data-ml-player-with-playlist] {
  display: block;
  width: 960px;
  margin: 0 auto;
}
