.root {
  position: relative;
  display: block;
  width: 100%;
  height: 70px;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}

.imgBg {
  display: block;
  width: 100%;
  height: 3px;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  background-color: #e1e1e1;
}

.loadingProgress {
  display: block;
  width: 0;
  height: 3px;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  background-color: #acdfff;
}

.playbackProgress {
  display: block;
  width: 0;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;

  background-color: #4fa3d8;
  background: linear-gradient(to bottom, #2A4768 0, #00D0FF 50%, #2A4768 100%);
  opacity: 0.4;
  mix-blend-mode: lighten;
}
