@mixin base-btn {
  user-select: none;
  cursor: pointer;

  &,
  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
    outline: none;
  }
}

@mixin hover-bg-color($base-color) {
  background-color: lighten($base-color, 10%);
}

$small-btn-border-radius: 5px;

$default-bg-color: #0066cc;
