@import './common';

@mixin btn-bg($color) {
  background-color: $color;

  &:hover {
    @include hover-bg-color($color);
  }
}

.root {
  @include base-btn;
  @include btn-bg($default-bg-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: $small-btn-border-radius;

  padding: 5px 8px;
}

.icon {
  display: block;
  width: 14px;
  height: 14px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  margin-right: 6px;
}

.title {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
}

.repeatBtn {
  box-sizing: border-box;
  width: 88px;

  .icon {
    background-image: url('../assets/redo.svg');
  }
}

.shareBtn {
  .icon {
    background-image: url('../assets/share.svg');
  }
}
