@import './common';

@mixin btn-bg($color) {
  .bg {
    background-color: $color;
  }

  &:hover {
    .bg {
      @include hover-bg-color($color);
    }
  }
}

.root {
  @include base-btn;
  @include btn-bg($default-bg-color);

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 42px;
}

.bg {
  position: relative;
  display: block;
  width: 100%;

  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
  }

  border-radius: 8px;
}

.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: block;
  width: 24px;
  height: 24px;

  &::before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.title {
  display: block;

  color: #698ca0;
  font-size: 12px;

  white-space: nowrap;
}

.prevBtn {
  .icon {
    height: 30px;

    &::before {
      background-image: url('../assets/backward.svg');
    }
  }
}

.playBtn {
  .icon {
    &::before {
      background-image: url('../assets/play.svg');
    }
  }

  &.altState {
    .icon {
      &::before {
        background-image: url('../assets/pause.svg');
      }
    }
  }
}

.nextBtn {
  .icon {
    height: 30px;

    &::before {
      background-image: url('../assets/forward.svg');
    }
  }
}

.cartBtn {
  @include btn-bg(#009900);

  .icon {
    height: 20px;

    &::before {
      transform: translateX(-2px);
      background-image: url('../assets/cart.svg');
    }
  }

  &.altState {
    @include btn-bg(#cc0033);

    .icon {
      height: 26px;

      &::before {
        transform: none;
        background-image: url('../assets/times.svg');
      }
    }
  }
}

.favoritesBtn {
  @include btn-bg(#9a3467);

  .icon {
    height: 20px;

    &::before {
      background-image: url('../assets/star.svg');
    }
  }

  &.altState {
    @include btn-bg(#ffffff);

    .icon {
      &::before {
        background-image: url('../assets/star-pink.svg');
      }
    }
  }
}

.longoloopsBtn {
  @include btn-bg(#ff6666);

  .icon {
    &::before {
      background-image: url('../assets/circle.svg');
    }
  }
}
