.root {
  display: block;
  width: 24px;
  height: 24px;

  background-image: url('assets/spinner.svg');
  background-size: contain;
  background-repeat: no-repeat;

  animation: rotation 3s infinite linear;
}

@keyframes :local(rotation) {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
