.root {
  display: flex;
  align-items: center;

  width: 100%;

  border-radius: 5px;

  box-sizing: border-box;
  padding: 4px 10px;

  text-transform: capitalize;
  font-size: 21px;

  transition: background-color 0.3s ease;

  &,
  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
  }

  .title {
    display: block;
    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    box-sizing: border-box;
    padding-right: 8px;
  }

  .icon {
    display: block;
    width: 18px;
    height: 14px;

    margin-left: auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    transition: opacity 0.3s ease;
  }

  &.isTrackLink {
    border: solid 1px rgba(255, 255, 255, 0.2);

    &,
    &:hover,
    &:active,
    &:visited {
      color: #ffffff;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.09);

      .icon {
        opacity: 1;
      }
    }

    .title {
      color: #ffffff;
      font-size: 21px;
    }

    .icon {
      background-image: url('./assets/icon-white.svg');
      opacity: 0.1;
    }
  }

  &.isComposerLink {
    border: solid 1px rgba(255, 204, 0, 0.2);

    &,
    &:hover,
    &:active,
    &:visited {
      color: #ffffff;
    }

    .title {
      color: #edc209;
      font-size: 18px;
    }

    .icon {
      background-image: url('./assets/icon-yellow.svg');
      opacity: 0.2;
    }

    &:hover {
      background-color: rgba(255, 204, 0, .09);

      .icon {
        opacity: 1;
      }
    }
  }
}
