@import '../../../../control-panel/buttons/styles/common';

$bg-color: #ffffff;

$extra-vertical-space: 4px;

$arrow-width: 8px;
$arrow-height: 6px;

.root {
  display: block;
}

.body {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding: 6px;

  background-color: $bg-color;

  border-radius: 5px;

  transform: translateY(-$arrow-height - $extra-vertical-space);

  &::after {
    content: '';

    position: absolute;
    left: 50%;
    bottom: -$arrow-height;
    transform: translateX(-50%);

    display: block;
    width: 0;
    height: 0;

    border-left: $arrow-width / 2 solid transparent;
    border-right: $arrow-width / 2 solid transparent;
    border-top: $arrow-height solid $bg-color;
  }
}

.btn {
  @include base-btn;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;

  padding: 4px;

  &::before {
    $size: 24px;

    content: '';

    display: block;
    width: $size;
    height: $size;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  & + & {
    margin-left: 6px;
  }

  &.facebookBtn {
    $color: #4267b2;

    background-color: $color;
    &:hover {
      @include hover-bg-color($color);
    }

    &::before {
      background-image: url('./assets/facebook.svg');
    }
  }

  &.twitterBtn {
    $color: #38a1f3;

    background-color: $color;
    &:hover {
      @include hover-bg-color($color);
    }

    &::before {
      background-image: url('./assets/twitter.svg');
    }
  }

  &.copyToClipboardBtn {
    $color: $default-bg-color;

    position: relative;

    background-color: $color;
    &:hover {
      @include hover-bg-color($color);
    }

    &::before {
      background-image: url('./assets/copy.svg');
    }
  }
}

.copyToClipboardNotification {
  display: block;

  position: absolute;
  left: 50%;
  top: -12px;
  transform: translateX(-50%);

  white-space: nowrap;

  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;

  transition: all 1s ease;

  user-select: none;
  pointer-events: none;

  &.isActive {
    opacity: 0;
    transform: translate(-50%, -35px);
  }
}
